/* Based on SOLID by Carlos Alvarez (http://alvarez.is) */

/*  ################################################################
    1. GENERAL STRUCTURES
################################################################# */

/*
 * COLORS
 * Old nav bg: #384452
 * New nav bg: #202020
 * Old accent: #00b3fe
 * New accent: #e11a1a
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

* {
    margin: 0;
    padding: 0px;
}

body {
    background: #202020;
    margin: 0;
    height: 100%;
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    color: #e11a1a;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #01b2fe;
  color: #e11a1a;
}

::-moz-selection  {
    color: #fff;
    text-shadow:none;
    background:#2B2E31;
}
::selection {
    color: #fff;
    text-shadow:none;
    background:#2B2E31;
}

.centered {
    text-align: center
}

/*  ################################################################
    BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
    color: #eeeeee;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    color: #eeeeee;
    font-weight: 700;
    font-size: 12px;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #e11a1a;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #e11a1a;
    background-color: transparent;
}

.navbar-default {
    background-color: #202020;
    border-color: transparent;
}

.dropdown-menu {
    background: #202020;
}

.dropdown-menu > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
    font-size: 14px;
}

.btn-theme {
  color: #fff;
  background-color: #202020;
  border-color: #202020;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #e11a1a;
  background-color: #202020;
  border-color: #e11a1a;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
    color: #ffffff;
    background-color: #222222;
    border-color: #ffffff;
}
.dmbutton {
    background:rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing:0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}

.mtb {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mb {
    margin-bottom: 60px;
}

.mt {
    margin-top: 60px;
}

.hline {
    border-bottom: 2px solid #202020;
}

.hline-w {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}
/*  ################################################################
    SITE WRAPS
################################################################# */

#headerwrap {
    background-color: #e11a1a;
    min-height: 550px;
    padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
}

#headerwrap h3, h5 {
    color: white;
    font-weight: 400;
}

#headerwrap h1 {
    color: white;
    margin-bottom: 25px;
}

#headerwrap .img-responsive {
    margin: 0 auto;
}

/* Services Wrap */
#service {
    margin-top: 100px;
    margin-bottom: 80px;
}

#service i {
    color: #e11a1a;
    font-size: 60px;
    padding: 15px;
}

/* Portfolio Wrap */
#portfoliowrap {
    padding-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: center
}

#portfoliowrap h3 {
    margin-bottom: 25px;
}

.portfolio {
    padding:0 !important;
    margin:0 !important;
    display:block;
}


.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:16px; text-transform:uppercase;}


.tpl6 h3
{
    color:#fff;
    margin:0;
    padding:40px 5px 0;
    font-size:16px;
    text-transform:uppercase;
}
.tpl6 .dmbutton
{
    display:inline-block;
    margin:30px 5px 20px 5px;
    font-size:13px;
}

.tpl6 .bg
{
    height:100%;
    width:100%;
    background-color:#e11a1a;
    background-color:rgba(0,179,254,.9);
    text-align:center;
}

/* Testimonials Wrap */
#twrap {
    /* background: url(../img/t-back.jpg) no-repeat center top; */
    /* background: url(../img/15-06-Jazz.jpg) no-repeat center top; */
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    min-height: 450px;
    min-height: 280px;
    width: 100%;
    background-attachment: relative;
    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    background: #AF3030;
    background: #3E0000;
    overflow: hidden;
}

#twrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.05;
    background-image: url(../img/15-07-MM2vsMM3.png);
    background-image: url(../img/15-06-Jazz.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#twrap i {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
}

#twrap p {
    color: white;
    font-size: 15px;
    line-height: 30px;
}

/* clients logo */
#cwrap {
    background: #f7f7f7;
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 100px;
}

#cwrap h3 {
    margin-bottom: 60px;
}

/* Footer */
#footerwrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #202020;
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: white;
}

#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #e11a1a
}

/*  ################################################################
    PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
    background: #e11a1a;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#blue h3 {
    color: white;
    margin-left: 15px;
}

.ctitle {
    color: #e11a1a;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}

csmall {
    font-size: 12px;
    color: #b3b3b3;
}
csmall2 {
    font-size: 12px;
    color: #f39c12
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.badge-theme {
    background: #e11a1a;
}

/* Contact Page */
#contactwrap {
    background: url(../img/contact.jpg) no-repeat center top;
    margin-top: -60px;
    padding-top:0px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Blog Page */
.popular-posts {
    margin: 0px;
    padding-left: 0px;
    }

.popular-posts li {
    list-style: none;
    margin-bottom: 20px;
    min-height: 70px;
}
.popular-posts li a,
.popular-posts li a:hover {
    color:#2f2f2f;
    text-decoration: none;
    }

.popular-posts li img {
    float: left;
    margin-right: 20px;
    }

.popular-posts li em {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #b3b3b3
    }

.popular-posts p {
    line-height: normal;
    margin-bottom: auto;
}

.share i {
    padding-right: 15px;
    font-size: 18px;
}

/* adamzap */

ol, ul {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 16px;
}

.navbar-header img {
  padding-top: 7px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #202020;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #202020;
  color: #e11a1a;
}

.hline-r {
    border-bottom: 2px solid #e11a1a;
    margin-bottom: 25px;
}

table {
  font-size: 16px;
}

tbody tr:hover {
  background-color: #333333;
}

.gold {
  color: yellow;
}

.silver {
  color: silver;
}

.bronze {
  color: #CD7F32;
}

#twrap a {
  color: white;
}

#filter {
  width: 120px;
  color: #eeeeee;
  background: none;
  margin-left: 8px;
  padding-left: 6px;
  font-weight: normal;
  border-radius: 16px;
  border: solid 2px #e11a1a;
}

#sidebar {
  margin-top: 30px;
}

#voting-result {
  width: 100%;
  color: #202020;
}

h4.voting {
  margin-bottom: 2px;
}

.hline-r-duels {
  border-bottom: 2px solid #e11a1a;
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

::-ms-input-placeholder {
  font-style: italic;
}
