{% extends "base.html" %}

{% block title %}{{ objs[0].artist }}{% endblock %}

{% block content %}

<h1 class="ctitle">Songs by {{ objs[0].artist }}</h1>

<div class="hline-r"></div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Game</th>
      <th>Duel</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in objs|sort(attribute='title') %}
    <tr>
      <td>
        <a href="{{ obj.link }}">{{ obj.title }}</a>
      </td>
      <td>
        <a href="/games/{{ obj.game|slugify }}/">{{ obj.game }}</a>
      </td>
      <td>
        <a href="/duels/{{ obj.duel|slugify }}/">{{ obj.duel }}</a>
      </td>
    {% if obj.rank == "ZZ" %}
      <td>ALT</td>
    {% elif obj.rank == "01" %}
      <td><span class="gold">&bull;</span> {{ obj.rank|int }}/{{ obj.max_rank }}</td>
    {% elif obj.rank == "02" %}
      <td><span class="silver">&bull;</span> {{ obj.rank|int }}/{{ obj.max_rank }}</td>
    {% elif obj.rank == "03" %}
      <td><span class="bronze">&bull;</span> {{ obj.rank|int }}/{{ obj.max_rank }}</td>
    {% else %}
      <td>{{ obj.rank|int }}/{{ obj.max_rank }}</td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
