{% extends "base.html" %}

{% block title %}Artists{% endblock %}

{% block content %}

<h1 class="ctitle">Artists</h1>

<div class="hline-r"></div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>♫</th>
      <th class="gold">&bull;</th>
      <th class="silver">&bull;</th>
      <th class="bronze">&bull;</th>
    </tr>
  </thead>
  <tbody>
  {% for song_list in objs %}
    <tr>
      <td><a href="/artists/{{ song_list[0].artist|slugify }}/">{{ song_list[0].artist }}</a></td>
      <td>{{ song_list|count }}</td>
      <td>{{ song_list|selectattr("rank", "equalto", "01")|list|count }}</td>
      <td>{{ song_list|selectattr("rank", "equalto", "02")|list|count }}</td>
      <td>{{ song_list|selectattr("rank", "equalto", "03")|list|count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
