{% extends "base.html" %}

{% block title %}{{ key }}{% endblock %}

{% block content %}

{% if objs|rejectattr("multiple_artists")|list|length > 0 %}
  <h1 class="ctitle">Songs by {{ key }}</h1>

  <div class="hline-r"></div>

  <table class="table" data-sortable>
    <thead>
      <tr>
        <th data-sorted="true" data-sorted-direction="ascending">Name</th>
        <th>Game</th>
        <th>Duel</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objs|rejectattr("multiple_artists")|sort(attribute='title') %}
      <tr>
        <td>{{ get_song_link(obj) }}</td>
        <td>{{ get_game_link(obj) }}</td>
        <td>{{ get_duel_link(obj) }}</td>
        <td {{ get_rank_sort_value(obj) }}>{{ get_detailed_rank(obj) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if objs|selectattr("multiple_artists")|list|length > 0 %}
  <h1 class="ctitle">Songs featuring {{ key }}</h1>

  <div class="hline-r"></div>

  <table class="table" data-sortable>
    <thead>
      <tr>
        <th data-sorted="true" data-sorted-direction="ascending">Name</th>
        <th>Game</th>
        <th>Duel</th>
        <th>Other Artists</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objs|sort(attribute='title')|selectattr("multiple_artists") %}
      <tr>
        <td>{{ get_song_link(obj) }}</td>
        <td>{{ get_game_link(obj) }}</td>
        <td>{{ get_duel_link(obj) }}</td>
        <td>{{ get_artist_link(obj) }}</td>
        <td {{ get_rank_sort_value(obj) }}>{{ get_detailed_rank(obj) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}
