{% from "macros.html" import prettify_duel %}
{% from "macros.html" import trophy_string %}
{% from "macros.html" import get_song_link %}
{% from "macros.html" import get_artist_link %}
{% from "macros.html" import get_game_link %}
{% from "macros.html" import get_duel_link %}
{% from "macros.html" import get_rank %}
{% from "macros.html" import get_duel_sort_value %}
{% from "macros.html" import get_rank_sort_value %}
{% from "macros.html" import get_collaborator_links %}
{% from "macros.html" import get_medley_game_links %}
{% from "macros.html" import filter_input %}
{% from "macros.html" import get_artist_link_link %}
{% from "macros.html" import get_player_button %}

{% set winners_banner_month = latest_winners[0].month_dir %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TKGHGWV');
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Social meta tags-->
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Dwelling of Duels is a monthly video game remix competition." />
    <meta name="twitter:description" content="Dwelling of Duels is a monthly video game remix competition.">
    <meta itemprop="description" content="Dwelling of Duels is a monthly video game remix competition.">
    {% if not metaImage %}
      <meta property="og:image" content="http://dwellingofduels.net/static/img/dod-guy.png" />
      <meta name="twitter:image:src" content="http://dwellingofduels.net/static/img/dod-guy.png">
      <meta itemprop="image" content="http://dwellingofduels.net/static/img/dod-guy.png">
    {% endif %}

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

    <title>
      {% block title %}{% endblock %}

      {% if self.title() %}
        &middot;
      {% endif %}

      Dwelling of Duels
    </title>

    <link href="/static/dod.{{ css_hash }}.css" rel="stylesheet">

    {% if include_winners %}
      <style type="text/css">
        #twrap:before {
          background-image: url(http://dwellingofduels.net/{{ archive_dir }}/{{ winners_banner_month }}/{{ winners_banner_month }}.jpg);
        }
      </style>
    {% endif %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKGHGWV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/">
            <img src="/static/img/logo.png"/>
          </a>
        </div>

        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="/player/">LISTEN</a>
            </li>
            <li>
              <a href="/duels/">DUELS</a>
            </li>
            <li>
              <a href="/artists/">ARTISTS</a>
            </li>
            <li>
              <a href="/games/">GAMES</a>
            </li>
            <li>
              <a href="/rules/">RULES</a>
            </li>
            <li>
              <a href="/faq/">FAQ</a>
            </li>
            <li>
              <a class="social-icon" href="https://www.patreon.com/dwellingofduels" target="_blank">
                <img src="/static/img/patreon.gif" />
              </a>
            </li>
			      <li>
              <a class="social-icon" href="https://discord.gg/RqRAMFY" target="_blank">
                <img src="/static/img/discord.gif"/>
              </a>
            </li>
            <li>
              <a class="social-icon" href="https://www.facebook.com/dwellingofduels/" target="_blank">
                <img src="/static/img/facebook.svg"/>
              </a>
            </li>
            <li>
              <a class="social-icon" href="https://twitter.com/dwellingofduels" target="_blank">
                <img src="/static/img/twitter.svg"/>
              </a>
            </li>
            <li>
              <a class="social-icon" href="https://www.youtube.com/user/DwellingDuels" target="_blank">
                <img src="/static/img/youtube.svg"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% block winners %}
      {% if include_winners %}
        {% import "winners.html" as winners %}

        {{ winners.render(latest_winners) }}
      {% endif %}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-lg-{{ '8' if include_sidebar else '12' }}">
          {% block content %}{% endblock %}
        </div>

        {% if include_sidebar %}
          <div id="sidebar" class="col-lg-4">
            {% include "sidebar.html" %}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div id="footerwrap">
      <div class="container">
        <div class="hline-r"></div>
      </div>
    </div>

    <script type="text/javascript" src="/static/dod.{{ js_hash }}.js"></script>

    <script type="text/javascript">
      {% block extra_js %}{% endblock %}
    </script>
  </body>
</html>
