{% from "macros.html" import prettify_duel %}
{% from "macros.html" import trophy_string %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <title>
      {% block title %}{% endblock %}

      {% if self.title() %}
        &middot;
      {% endif %}

      Dwelling of Duels
    </title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/">
            <img src="/static/img/dod-new-logo.png"/>
          </a>
        </div>

        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="/duels/">DUELS</a>
            </li>
            <li>
              <a href="/artists/">ARTISTS</a>
            </li>
            <li>
              <a href="/games/">GAMES</a>
            </li>
            <li>
              <a href="/rules/">RULES</a>
            </li>
            <li>
              <a href="http://dwellingofduels.net/forum/index.php">FORUM</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% block winners %}
      {% import "winners.html" as winners %}

      {{ winners.render(latest_winners) }}
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-lg-{{ '8' if include_sidebar else '12' }}">
          {% block content %}{% endblock %}
        </div>

        {% if include_sidebar %}
          <div class="col-lg-4">
            {% include "sidebar.html" %}
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <br />

    <div id="footerwrap">
      <div class="container">
        <div class="hline-r"></div>

        <div class="row">
          <div class="col-lg-4">
            <p>
              footer
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
