<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <title>Dwelling of Duels</title>

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html">
            <img src="static/img/dod-new-logo.png"/>
          </a>
        </div>

        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="duels.html">DUELS</a>
            </li>
            <li>
              <a href="artists.html">ARTISTS</a>
            </li>
            <li>
              <a href="games.html">GAMES</a>
            </li>
            <li>
              <a href="rules.html">RULES</a>
            </li>
            <li>
              <a href="http://dwellingofduels.net/forum/index.php">FORUM</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <br />

    <div id="footerwrap">
      <div class="container">
        <div class="hline-r"></div>

        <div class="row">
          <div class="col-lg-4">
            <p>
              footer
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
