{% extends "base.html" %}

{% block content %}

<h1 class="ctitle">{{ objs[0].duel }}</h1>

<div class="hline-r"></div>

<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Artist</th>
      <th>Song</th>
      <th>Game</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in objs %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>
        <a href="/artist/{{ obj.artist|slugify }}">{{ obj.artist }}</a>
      </td>
      <td>{{ obj.title }}</td>
      <td>
        <a href="/game/{{ obj.game|slugify }}">{{ obj.game }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
