{% extends "base.html" %}

{% block title %}{{ prettify_duel(objs[0]) }}{% endblock %}

{% block content %}

<h1 class="ctitle">
  {{ prettify_duel(objs[0]) }}

  <span class="duel-icons">
    {% if objs[0].has_archive %}
      <a href="http://dwellingofduels.net/{{ archive_dir }}/{{ objs[0].month_dir }}/{{ objs[0].month_dir }}.zip">
        <img src="/static/img/zip.svg" width="32px" height="32px" alt="ZIP Archive of Songs"/>
      </a>
    {% endif %}

    {% if objs[0].has_log %}
      <a href="http://dwellingofduels.net/{{ archive_dir }}/{{ objs[0].month_dir }}/{{ objs[0].month_dir }}.log" target="_blank">
        <img src="/static/img/log.svg" width="32px" height="32px" alt="Listening Party Log"/>
      </a>
    {% endif %}

    {% if objs[0].youtube_link %}
      <a href="{{ objs[0].youtube_link }}" target="_blank">
        <img src="/static/img/youtube-playlist.svg" width="32px" height="32px" alt="YouTube Playlist"/>
      </a>
    {% endif %}
  </span>
</h1>

<div class="hline-r"></div>

<br />

{% if objs[0].has_banner %}
  {% if objs[0].banner_gif %}
    {% set banner_url = "http://dwellingofduels.net/" + archive_dir + "/" + objs[0].month_dir + "/" + objs[0].month_dir + ".gif" %}
  {% elif objs[0].banner_jpg %}
    {% set banner_url = "http://dwellingofduels.net/" + archive_dir + "/" + objs[0].month_dir + "/" + objs[0].month_dir + ".jpg" %}
  {% endif %}


  <div class="centered">
    <a href="{{ banner_url }}" target="_blank">
      <img src="{{ banner_url }}"/>
    </a>
  </div>
{% endif %}

<br />
<br />

{% if not (voting and objs[0].month_dir == latest_month) %}
  <div class="table-responsive">
    <table class="table" data-sortable>
      <thead>
        <tr>
          <th>Play</th>
          <th data-sorted="true" data-sorted-direction="ascending">Rank</th>
          <th>Song</th>
          <th>Artist(s)</th>
          <th>Game(s)</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in objs %}
        <tr {% if obj.rank|int < 4 %}class="{{ trophy_string(obj) }}-row"{% endif %}>
          <td>{{ get_player_button(obj) }}</td>
          <td {{ get_rank_sort_value(obj) }}>{{ get_rank(obj, false) }}</td>
          <td>{{ get_song_link(obj) }}</td>
          <td>{{ get_artist_link(obj) }}</td>
          <td>{{ get_game_link(obj) }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% if voting and objs[0].month_dir == latest_month %}
  {% set main_entries = objs|rejectattr("rank", "equalto", "ZZ")|list %}
  {% set alt_entries = objs|selectattr("rank", "equalto", "ZZ")|list %}

  <h1 class="ctitle">Voting</h1>

  <div class="hline-r"></div>

  {% for obj in main_entries %}
    <h4 class="voting">
      {{ get_player_button(obj) }} &nbsp; {{ obj.games|join(', ') }} - {{ get_song_link(obj) }}
      <small>
        <label>
          <input type="checkbox" data-id="{{ loop.index0 }}"/> My Song
        </label>
      </small>
    </h4>

    <div class="voting-slider" data-id="{{ loop.index0 }}" data-song="{{ obj.games|join(', ') }} - {{ obj.title }}"></div>

    <br />
    <br />

    {% if not loop.last %}
      <br />
    {% endif %}
  {% else %}
    <p>
      There were no main entries this month
    </p>
  {% endfor %}

  <h1 class="ctitle">Your Votes</h1>

  <div class="hline-r"></div>

  <textarea id="voting-result" rows="{{ main_entries|length }}"></textarea>

  <p>Copy the text above and email it to <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>

  <br />
  <br />

  <h1 class="ctitle">Alternate Entries</h1>

  <div class="hline-r"></div>

  {% for obj in alt_entries %}
    <h4 class="voting">
      {{ get_player_button(obj) }} &nbsp; {{ obj.games|join(', ') }} - {{ get_song_link(obj) }}
    </h4>
  {% else %}
    <p>
      There were no alternate entries this month
    </p>
  {% endfor %}
{% endif %}

{% endblock %}

{% block extra_js %}
  make_player();
  make_voting();
{% endblock %}
