{% extends "base.html" %}

{% block title %}Duels{% endblock %}

{% block content %}

<h1 class="ctitle">Duels</h1>

<div class="hline-r"></div>

<table class="table" data-sortable>
  <thead>
    <tr>
      <th data-sorted="true" data-sorted-direction="descending">Year</th>
      <th>Month</th>
      <th>Theme</th>
      <th>♫</th>
    </tr>
  </thead>
  <tbody>
  {% for song_list in objs|reverse %}
    <tr>
      <td>{{ song_list[0].year }}</td>
      <td><a href="/duels/{{ song_list[0].duel|slugify }}/">{{ song_list[0].month }}</a></td>
      <td>{{ song_list[0].theme }}</td>
      <td>{{ song_list|count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
