{% extends "base.html" %}

{% block title %}Duels{% endblock %}

{% block content %}

<h1 class="ctitle">Duels</h1>

<div class="hline-r"></div>

{% set current_year = 0 %}

{% for duel, song_list in objs|dictsort|reverse %}
  {% if song_list[0].year != current_year %}
    {% if not loop.first %}
        </tbody>
      </table>

      <p>
        <a href="#">Back to Top</a>
      </p>

      <br />
    {% endif %}

    <h2>{{ song_list[0].year }}</h2>

    <div class="hline-r-duels"></div>

    <table class="table" data-sortable>
      <thead>
        <tr>
          <th width="47%" data-sorted="true" data-sorted-direction="descending">Month</th>
          <th width="48%">Theme</th>
          <th width="5%">♫</th>
        </tr>
      </thead>
      <tbody>
  {% endif %}
        <tr>
          <td data-value="{{ song_list[0].month }}">{{ song_list[0].month_name }}</td>
          <td><a href="/duels/{{ song_list[0].duel|slugify }}/">{{ song_list[0].theme }}</a></td>
          <td>{{ song_list|count }}</td>
        </tr>

  {% set current_year = song_list[0].year %}
{% endfor %}

  </tbody>
</table>

<p>
  <a href="#">Back to Top</a>
</p>

{% endblock %}
