{% extends "base.html" %}

{% block title %}{{ prettify_duel(objs[0]) }}{% endblock %}

{% block winners %}
  {% import "winners.html" as winners %}

  {{ winners.render(objs) }}
{% endblock %}

{% block content %}

<h1 class="ctitle">{{ prettify_duel(objs[0]) }}</h1>

<div class="hline-r"></div>

<div class="centered">
  <img src="/static/img/15-06-Jazz.jpg"/>
</div>

<br />

{% if voting and objs[0].duel == latest_duel %}
  <table class="table" data-sortable>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Song</th>
        <th>Game(s)</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objs %}
      <tr>
        <td>?</td>
        <td>{{ get_song_link(obj) }}</td>
        <td>{{ get_game_link(obj) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <table class="table" data-sortable>
    <thead>
      <tr>
        <th data-sorted="true" data-sorted-direction="ascending">Rank</th>
        <th>Song</th>
        <th>Artist(s)</th>
        <th>Game(s)</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objs %}
      <tr>
        <td {{ get_rank_sort_value(obj) }}>{{ get_rank(obj, false) }}</td>
        <td>{{ get_song_link(obj) }}</td>
        <td>{{ get_artist_link(obj) }}</td>
        <td>{{ get_game_link(obj) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

<br />

<h1 class="ctitle">Links</h1>

<div class="hline-r"></div>

<ul>
  {% if objs[0].has_archive %}
    <li>
      <a href="http://dwellingofduels.net/{{ archive_dir }}/{{ objs[0].month_dir }}/{{ objs[0].month_dir }}.zip">ZIP Archive of Songs</a>
    </li>
  {% endif %}
  {% if objs[0].has_log %}
    <li>
      <a href="http://dwellingofduels.net/{{ archive_dir }}/{{ objs[0].month_dir }}/{{ objs[0].month_dir }}.log">Listening Party Log</a>
    </li>
  {% endif %}
  <li>
    <a href="https://www.youtube.com/">YouTube Playlist</a>
  </li>
</ul>

{% if voting and objs[0].duel == latest_duel %}
  <br />

  <h1 class="ctitle">Voting</h1>

  <div class="hline-r"></div>

  {% for obj in objs %}
    <h4 class="voting">
      {{ obj.games|join(', ') }} - {{ obj.title }}
      <small class="pull-right">
        <label>
          <input type="checkbox" data-id="{{ loop.index0 }}"/> My Song
        </label>
      </small>
    </h4>

    <div class="voting-slider" data-id="{{ loop.index0 }}" data-song="{{ obj.games|join(', ') }} - {{ obj.title }}"></div>

    <br />
    <br />
  {% endfor %}

  <h1 class="ctitle">Your Votes</h1>

  <div class="hline-r"></div>

  <textarea id="voting-result" rows="{{ objs|length }}"></textarea>

  <p>Copy the text above and email it to <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>
{% endif %}

{% endblock %}


{% block extra_js_includes %}
  {% if voting and objs[0].duel == latest_duel %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/slider.js"></script>
    <script type="text/javascript" src="/static/js/voting.js"></script>
  {% endif %}
{% endblock %}
