{%- extends "base.html" -%}

{%- set include_winners = true -%}
{%- set include_sidebar = true -%}

{%- block title -%}FAQ{%- endblock -%}

{%- block content -%}

<h1>FAQ for Participation</h1>

<div class="hline-r"></div>

<h2 id="how-can-i-participate-">How can I participate?</h2>
<p>Render your entry as an MP3, and upload it to a file service such as Dropbox or Google Drive, send the link via email to dodsongs@gmail.com, and include the following information in this format:</p>
<ul>
	<li>Artist(s): The name that the artist wishes to be identified by.</li>
	<li>Game(s): The games that the entry is covering songs from.</li>
	<li>Title: The title of the arrangement. </li>
</ul>
<h2 id="can-i-submit-more-than-one-song-">Can I submit more than one song?</h2>
<p>You may only submit <strong>one Main</strong> entry, which is voted upon and ranked at the end of the contest. You may submit <strong>up to five of Alternate</strong> entries, which are held to less strict rules but are not ranked at the end of the contest.</p>
<h2 id="why-does-the-main-instrument-need-to-be-played-live-">Why does the main instrument need to be played live?</h2>
<p>As sequenced and sampled instruments become increasingly realistic, it is rather easy to &quot;click-in&quot; an entire song and have it be passable. This results in what some would call &quot;sterile&quot; sounding music. By requiring at least the main instrument to be performed live, we can preserve the human nature of music and showcase the musical skill of our competitors. However, this is also a place of learning and growth! If you persevere and accept feedback from other competitors, you&#39;ll quickly find that your instrumental and production skills will increase.</p>
<h2 id="what-counts-as-a-main-instrument-">What counts as a main instrument?</h2>
<p>The main instrument is the one that is playing the melody of the tune through the majority of the song. A few examples: electric guitar, synthesizers, trumpet, vocals, clarinet, etc.</p>
<h2 id="is-there-a-minimum-song-length-">Is there a minimum song length?</h2>
<p>Yes, Main entries must be at least <strong>two minutes</strong>, while Alternate entries must be at least <strong>thirty seconds</strong>.</p>
<h2 id="is-there-a-maximum-song-length-">Is there a maximum song length?</h2>
<p>No, however, keeping an arrangement fresh for more than 6-7 minutes takes considerable skill and should only be attempted by those who are confident they are <a href="http://dwellingofduels.net/dodarchive/16-12-80svs90s/01-PuD,%20Ailsean,%20Flik,%20Connor%20Engstrom,%20Wild_Cat-Excitebike,%20Mach%20Rider,%20Paperboy,%20Rally%20Bike,%20Super%20Hang%20On,%20Zippy%20Race-Bike%20Kid%20The%20Musical%20%28Team%2080s%29-DoD.mp3">up to the challenge</a>, and are prepared to be judged accordingly.</p>
<h2 id="can-i-edit-my-instrument-recordings-">Can I edit my instrument recordings?</h2>
<p>Yes, your recordings can be edited to cleanup or fix timing discrepancies, tuning issues, etc., as long as the edits do not drastically alter the recorded performance. You do not need to record your entire song in a single take (although that is impressive)! This applies to MIDI data as well.</p>
<h2 id="if-the-live-instrument-is-a-piano-keyboard-can-i-record-left-and-right-hand-separately-">If the live instrument is a piano/keyboard, can I record left and right hand separately?</h2>
<p>Yes.</p>
<h2 id="can-i-add-references-to-non-vgm-songs-">Can I add references to non-VGM songs?</h2>
<p><a href="http://dwellingofduels.net/dodarchive/10-12-M9Free/01-Prince%20of%20Darkness-Sonic%20Adventure,%20Twisted%20Metal,%20Uniracers-Hot%20For%20Rock%20Shuffles-DoD.mp3">Certainly</a>.</p>
<h2 id="do-i-have-to-start-working-on-a-song-after-the-theme-is-announced-or-can-i-submit-one-of-my-older-songs-that-fits-the-theme-">Do I have to start working on a song after the theme is announced or can I submit one of my older songs that fits the theme?</h2>
<p>If you have a track you have been working on that happens to fit the announced theme, you can submit it as an entry as long as the track has never been released publicly. Many competitors will work on a track and save it for a Free Month, submitting it then. However, starting when the theme is announced and working on a track with a one month deadline can be quite fun and expose you to new songs you may have never heard before!</p>
<h2 id="ca-i-add-original-material">Can I add original material to my remix?</h2>
<p>You certainly can! Please do keep the song firmly in the realm of "video-game-remix", though. Playing one lick from a video game tune and then going off into a 20 minute guitar solo isn't going to cut it. Someone should be able to put your remix and the original side by side and tell that it was an obvious remix. If this is not the case, an admin may ask to see a source breakdown of your arrangement.</p>
<h2 id="do-i-need-to-perform-all-of-my-instruments-live-">Do I need to perform all of my instruments live?</h2>
<p>The main instrument of your track must be performed live, but supplemental harmony or rhythm instruments can be sequenced or programmed if you wish.</p>
<h2 id="when-is-the-listening-party-">When is the listening party?</h2>
<p>Listening parties are typically held within the same day as the deadline. Keep an eye on our Discord server for announcements regarding the listening party times.</p>
<h2 id="how-does-voting-and-placement-work-">How does voting and placement work?</h2>
<p>Shortly after the submission deadline, the website will be updated with the month&#39;s submissions. All songs are presented anonymously, so nobody knows who submitted what song. You can listen to the entries from this page and vote using the sliders attached to each entry. <strong>You must give a vote for every entry.</strong> Copy and paste the formatted votes and send them to dodsongs@gmail.com before the deadline. The votes will be tallied and ranked, all artists will be revealed and the next month will be announced!</p>
<h2 id="should-i-write-reviews-or-feedback-for-songs-">Should I write reviews or feedback for songs?</h2>
<p>That would be awesome, and beneficial to all those who submitted this month. In order to promote this, <strong>voters who submit song reviews will have their votes weighted heavier than those who did not!</strong> This means your submitted votes have a greater impact on the final results of the competition.</p>
<h2 id="can-i-cover-xyz">Can I cover XYZ for this month?</h2>
<p>Join our Discord server and message an admin about it!</p>

{%- endblock -%}
