{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}

<h1 class="ctitle">Games</h1>

<div class="hline-r"></div>

<table class="table" data-sortable>
  <thead>
    <tr>
      <th data-sorted="true" data-sorted-direction="ascending">Name</th>
      <th>♫</th>
    </tr>
  </thead>
  <tbody>
  {% for song_list in objs %}
    <tr>
      <td>{{ get_game_link(song_list[0]) }}
      <td>{{ song_list|count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
