{% extends "base.html" %}

{% block title %}{{ key }}{% endblock %}

{% block content %}

{% if objs|rejectattr("multiple_games")|list|length > 0 %}
  <h1 class="ctitle">Songs from {{ key }}</h1>

  <div class="hline-r"></div>

  <table class="table" data-sortable>
    <thead>
      <tr>
        <th>Play</th>
        <th data-sorted="true" data-sorted-direction="ascending">Name</th>
        <th>Artist(s)</th>
        <th>Duel</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objs|rejectattr("multiple_games")|sort(attribute='title') %}
      <tr>
        <td>
          <img class="play-button" src="/static/img/play.png"/>
        </td>
        <td>{{ get_song_link(obj) }}</td>
        <td>{{ get_artist_link(obj) }}</td>
        <td {{ get_duel_sort_value(obj) }}>{{ get_duel_link(obj) }}</td>
        <td {{ get_rank_sort_value(obj) }}>{{ get_rank(obj, true) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

<br />

{% if objs|selectattr("multiple_games")|list|length > 0 %}
  <h1 class="ctitle">Medleys featuring {{ key }}</h1>

  <div class="hline-r"></div>

  <table class="table" data-sortable>
    <thead>
      <tr>
        <th>Play</th>
        <th data-sorted="true" data-sorted-direction="ascending">Name</th>
        <th>Artist(s)</th>
        <th>Other Game(s)</th>
        <th>Duel</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objs|selectattr("multiple_games")|sort(attribute='title') %}
      <tr>
        <td>
          <img class="play-button" src="/static/img/play.png"/>
        </td>
        <td>{{ get_song_link(obj) }}</td>
        <td>{{ get_artist_link(obj) }}</td>
        <td>{{ get_medley_game_links(key, obj) }}</td>
        <td {{ get_duel_sort_value(obj) }}>{{ get_duel_link(obj) }}</td>
        <td {{ get_rank_sort_value(obj) }}>{{ get_rank(obj, true) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}

{% block extra_js_includes %}
  <script type="text/javascript" src="/static/js/player.js"></script>
{% endblock %}
