{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}

<h1 class="ctitle">Games</h1>

<div class="hline-r"></div>

<table class="table" data-sortable>
  <thead>
    <tr>
      <th data-sorted="true" data-sorted-direction="ascending">
        Name
        <input id="filter" type="text" placeholder="Filter"/>
      </th>
      <th>♫</th>
    </tr>
  </thead>
  <tbody>
  {% for game, song_list in objs|dictsort %}
    <tr>
      <td>{{ get_game_link(game) }}</td>
      <td>{{ song_list|count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block extra_js %}
  var input = document.getElementById('filter');

  input.addEventListener('click', function (e) {
    e.stopPropagation();
  });

  input.addEventListener('input', function (e) {
    var query = e.target.value.toLowerCase();
    var rows = document.querySelectorAll('tbody tr');
    var length = rows.length;

    for (var i = 0; i < length; i++) {
      var s = rows[i].querySelectorAll('a')[0].textContent.toLowerCase();

      rows[i].style.display = s.indexOf(query) !== -1 ? 'table-row' : 'none';
    }
  });
{% endblock %}
