<div id="twrap">
  <div class="container centered">
    <div class="row">
      <div class="col-md-12">
        <h1><a href="/duel.html">Jazz Month Winners</a></h1>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/static/img/gold.png"/>
        <h4><a href="/artist.html">Harmsing</a></h4>
        <p>
          <em><a href="http://dwellingofduels.net/dodarchive/15-06-Jazz/01-Harmsing-TMNT%20Tournament%20Fighters%20[NES]-Caramba!%20Cowabunga!-DoD.mp3">Caramba! Cowabunga!</a></em>
          <br/>
          <a href="/game.html">TMNT Tournament Fighters</a>
        </p>
      </div>

      <div class="col-md-4">
        <img src="/static/img/silver.png"/>
        <h4><a href="/artist.html">Ivan Hakštok, Wake</a></h4>
        <p>
        <em><a href="http://dwellingofduels.net/dodarchive/15-06-Jazz/02-Ivan%20Hakstok,%20Wake-Wave%20Race%2064-Square%20Wave-DoD.mp3">Square Wave</a></em>
          <br/>
          <a href="/game.html">Wave Race 64</a>
        </p>
      </div>

      <div class="col-md-4">
        <img src="/static/img/bronze.png"/>
        <h4><a href="/artist.html">Claude D.</a></h4>
        <p>
          <em><a href="http://dwellingofduels.net/dodarchive/15-06-Jazz/03-Claude%20D.-Boulder%20Dash%20[NES]-Rockford's%20Vacation%20in%20France-DoD.mp3">Rockford's Vacation in France</a></em>
          <br/>
          <a href="/game.html">Boulder Dash [NES]</a>
        </p>
      </div>
    </div>
  </div>
</div>

<br />
