{% macro prettify_duel(song) -%}
  {{ song.month_name }} {{ song.year }}: {{ song.theme }} Month
{%- endmacro %}

{% macro trophy_string(song) -%}
  {%- if song.rank == "01" -%}
    gold
  {%- elif song.rank == "02" -%}
    silver
  {%- elif song.rank == "03" -%}
    bronze
  {%- endif -%}
{%- endmacro %}

{% macro get_song_link(song) -%}
  <a href="{{ song.link }}">{{ song.title }}</a>
{%- endmacro %}

{% macro get_artist_link(song) -%}
  <a href="/artists/{{ song.artist|slugify }}/">{{ song.artist }}</a>
{%- endmacro %}

{% macro get_game_link(song) -%}
  <a href="/games/{{ song.game|slugify }}/">{{ song.game }}</a>
{%- endmacro %}

{% macro get_duel_link(song) -%}
  <a href="/duels/{{ song.duel|slugify }}/">{{ prettify_duel(song) }}</a>
{%- endmacro %}

{% macro get_simple_rank(song) -%}
  {{ "ALT" if song.rank == "ZZ" else song.rank|int }}
{%- endmacro %}

{% macro get_detailed_rank(song) -%}
  {% if song.rank == "ZZ" %}
    ALT
  {% else %}
    {% if song.rank|int < 4 %}
      <span class="{{ trophy_string(song) }}">&bull;</span>
    {% endif %}

    {{ song.rank|int }}/{{ song.max_rank }}
  {% endif %}
{%- endmacro %}

{% macro get_rank_sort_value(song) -%}
  {% if song.rank == "ZZ" %}
    data-value="99999999"
  {% else %}
    data-value="{{ song.rank }}"
  {% endif %}
{%- endmacro %}
