{% macro prettify_duel(song) -%}
  {{ song.month_name }} {{ song.year }}: {{ song.theme }} Month
{%- endmacro %}

{% macro trophy_string(song) -%}
  {%- if song.rank == "01" -%}
    gold
  {%- elif song.rank == "02" -%}
    silver
  {%- elif song.rank == "03" -%}
    bronze
  {%- endif -%}
{%- endmacro %}

{% macro get_song_link(song) -%}
  <a href="http://dwellingofduels.net{{ song.link }}">{{ song.title }}</a>
{%- endmacro %}

{% macro get_artist_link(obj, sep="<br />") -%}
  {% if obj is string %}
    <a href="/artists/{{ obj|slugify }}/">{{ obj }}</a>
  {% else %}
    {% for artist in obj.artists %}
      {% if loop.last %}
        {% set sep = '' %}
      {% endif %}
      <a href="/artists/{{ artist|slugify }}/">{{ artist }}</a>{{ sep }}
    {% endfor %}
  {% endif %}
{%- endmacro %}

{% macro get_game_link(obj, sep="<br />") -%}
  {% if obj is string %}
    <a href="/games/{{ obj|slugify }}/">{{ obj }}</a>
  {% else %}
    {% for game in obj.games %}
      {% if loop.last %}
        {% set sep = '' %}
      {% endif %}
      <a href="/games/{{ game|slugify }}/">{{ game }}</a>{{ sep }}
    {% endfor %}
  {% endif %}
{%- endmacro %}

{% macro get_duel_link(song) -%}
  <a href="/duels/{{ song.duel|slugify }}/">{{ prettify_duel(song) }}</a>
{%- endmacro %}

{% macro get_rank(song, show_max) -%}
  {% if song.rank == "ZZ" %}
    ALT
  {% else %}
    {{ song.rank|int }}

    {% if show_max %}
      /{{ song.max_rank }}
    {% endif %}

    {% if song.rank|int < 4 %}
      <span class="{{ trophy_string(song) }}">&bull;</span>
    {% endif %}
  {% endif %}
{%- endmacro %}

{% macro get_duel_sort_value(song) -%}
  data-value="{{ song.year }}{{ song.month }}"
{%- endmacro %}

{% macro get_rank_sort_value(song) -%}
  {% if song.rank == "ZZ" %}
    data-value="99999999"
  {% else %}
    data-value="{{ song.rank }}"
  {% endif %}
{%- endmacro %}

{% macro get_collaborator_links(artist, song) -%}
  {% for other_artist in song.artists %}
    {% if artist != other_artist %}
      {{ get_artist_link(other_artist) }}
      {% if not loop.last %}
        <br />
      {% endif %}
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro get_medley_game_links(game, song) -%}
  {% for other_game in song.games %}
    {% if game != other_game %}
      {{ get_game_link(other_game) }}
      {% if not loop.last %}
        <br />
      {% endif %}
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro filter_input() -%}
  <input id="filter" type="text" placeholder="Search"/>
{%- endmacro %}

{% macro get_artist_link_link(name, artist_links) -%}
  {%- if name in artist_links -%}
    <a href="{{ artist_links[name] }}">{{ name }}</a>
  {%- else -%}
    {{ name }}
  {%- endif -%}
{%- endmacro %}
