<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="static\css\bootstrap.css">
  <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="static\css\nanoscroller.css">
  <title>Document</title>
  <style>
    .head {
      position:sticky;
      height:20px;
      background-color:black;
      cursor:pointer;
      color:white;
      width:100%;
    }
    .playerButton{
      color:white;
      min-width: 20px;
      height:20px;
      border: 1px solid #FFF;
    }
    .song {
      margin:auto;
      background-color:red;
      height:20px;
      cursor: pointer;
    }
    .song:hover {
      background-color:#FF1990;
    }

    .selected{
      background-color:#FFF;
    }
    .nano {
      background: #bba;
      height:500px;
      width:500px;
    }
    #playerVolumeSlider{
      float:right;
      width:40px;
    }
    #playerVolumeButton{
      float:right;
    }
    #playerProgressBar{
      display: inline-block;
      width:80%;
      overflow:hidden;
      height:20px;
    }
    #bar{
      background-color:pink;
      margin:3px;
      height:14px;
      display: inline-block;
    }
    #playerToggle{
      float:left;
    }
    #playerShuffle{
      float:left;
    }
    #playerForward{
      float:left;
    }

  </style>
</head>
<body>


  <audio src=""></audio>

    <div class="head">
      <span class="fas fa-xs fa-play playerButton center-block pull-left"  id="playerToggle"></span>
      <span class="fas fa-xs fa-random playerButton hidden"  id="playerShuffle"></span>
      <span class="fas fa-xs fa-step-forward playerButton" id="playerForward"></span>

      <span class="fas fa-xs fa-volume-off playerButton" id="playerVolumeButton"></span>
      <span class="playerButton" id="playerVolumeSlider">words</span>
      <span class="playerButton" id="playerProgressBar"><span id="bar"></span></span>

    </div>
    <div class="nano">
      <div class="nano-content">

        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/12-04-Free/01-PrinceOfDarkness-Solstice-Kastle-DoD.mp3"], "artist":"Prince uf Darkness", "title":"Kastle Rock", "game":["Solstice"]}'>Pud - Kastle Rock</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-01-Collaboration/01-Robby%20V,%20finbeard,%20Snappleman,%20Tina,%20Maiko,%20Monte,%20Sagnewshreds-Ninja%20Warriors-Daddy%20Mulk%20as%20performed%20by%20T-Shizz-DoD.mp3"]}'>TShizz- Daddy Mulk</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/14-02-Beatemup/14-Katamari,%20Larceny-Batman%20Returns%20(SNES)-The%20Iceberg%20Lounge-DoD.mp3"]}'>Iceberg Lounge</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/11-12-M10NintendoVsSega/02-virt,Snappleman-ZeldaWW-Mast-DoD-N.mp3"]}'>Full Mast - snplmn</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-04-Fresh/01-Ivan%20Hakstok-Lego%20Island-Island%20Party-DoD.mp3"]}'>Island party - Homestuck</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/18-01-Brevity/02-Hat-Final%20Fantasy%20Tactics-Under%20The%20Stars-DoD.mp3"]}'>HAAAAAT</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/10-12-M9Free/09-norg-Mega%20Man%202-Inhabitants%20of%20the%20Dwelling-DoD.mp3"]}'>norg - Inhabitants of the dwelling</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/17-05-Europe/03-Katamari,%20Sagnewshreds,%20Trohnics-Magic%20Johnson%27s%20Fast%20Break-Edgar%20Enchantment%27s%20Quick-DoD.mp3"]}'>Edgar Enchantment's Quick Snap</div>


        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/12-04-Free/01-PrinceOfDarkness-Solstice-Kastle-DoD.mp3"], "artist":"Prince uf Darkness", "title":"Kastle Rock", "game":["Solstice"]}'>Pud - Kastle Rock</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-01-Collaboration/01-Robby%20V,%20finbeard,%20Snappleman,%20Tina,%20Maiko,%20Monte,%20Sagnewshreds-Ninja%20Warriors-Daddy%20Mulk%20as%20performed%20by%20T-Shizz-DoD.mp3"]}'>TShizz- Daddy Mulk</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/14-02-Beatemup/14-Katamari,%20Larceny-Batman%20Returns%20(SNES)-The%20Iceberg%20Lounge-DoD.mp3"]}'>Iceberg Lounge</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/11-12-M10NintendoVsSega/02-virt,Snappleman-ZeldaWW-Mast-DoD-N.mp3"]}'>Full Mast - snplmn</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-04-Fresh/01-Ivan%20Hakstok-Lego%20Island-Island%20Party-DoD.mp3"]}'>Island party - Homestuck</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/18-01-Brevity/02-Hat-Final%20Fantasy%20Tactics-Under%20The%20Stars-DoD.mp3"]}'>HAAAAAT</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/10-12-M9Free/09-norg-Mega%20Man%202-Inhabitants%20of%20the%20Dwelling-DoD.mp3"]}'>norg - Inhabitants of the dwelling</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/17-05-Europe/03-Katamari,%20Sagnewshreds,%20Trohnics-Magic%20Johnson%27s%20Fast%20Break-Edgar%20Enchantment%27s%20Quick-DoD.mp3"]}'>Edgar Enchantment's Quick Snap</div>

        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/12-04-Free/01-PrinceOfDarkness-Solstice-Kastle-DoD.mp3"], "artist":"Prince uf Darkness", "title":"Kastle Rock", "game":["Solstice"]}'>Pud - Kastle Rock</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-01-Collaboration/01-Robby%20V,%20finbeard,%20Snappleman,%20Tina,%20Maiko,%20Monte,%20Sagnewshreds-Ninja%20Warriors-Daddy%20Mulk%20as%20performed%20by%20T-Shizz-DoD.mp3"]}'>TShizz- Daddy Mulk</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/14-02-Beatemup/14-Katamari,%20Larceny-Batman%20Returns%20(SNES)-The%20Iceberg%20Lounge-DoD.mp3"]}'>Iceberg Lounge</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/11-12-M10NintendoVsSega/02-virt,Snappleman-ZeldaWW-Mast-DoD-N.mp3"]}'>Full Mast - snplmn</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-04-Fresh/01-Ivan%20Hakstok-Lego%20Island-Island%20Party-DoD.mp3"]}'>Island party - Homestuck</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/18-01-Brevity/02-Hat-Final%20Fantasy%20Tactics-Under%20The%20Stars-DoD.mp3"]}'>HAAAAAT</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/10-12-M9Free/09-norg-Mega%20Man%202-Inhabitants%20of%20the%20Dwelling-DoD.mp3"]}'>norg - Inhabitants of the dwelling</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/17-05-Europe/03-Katamari,%20Sagnewshreds,%20Trohnics-Magic%20Johnson%27s%20Fast%20Break-Edgar%20Enchantment%27s%20Quick-DoD.mp3"]}'>Edgar Enchantment's Quick Snap</div>

        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/12-04-Free/01-PrinceOfDarkness-Solstice-Kastle-DoD.mp3"], "artist":"Prince uf Darkness", "title":"Kastle Rock", "game":["Solstice"]}'>Pud - Kastle Rock</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-01-Collaboration/01-Robby%20V,%20finbeard,%20Snappleman,%20Tina,%20Maiko,%20Monte,%20Sagnewshreds-Ninja%20Warriors-Daddy%20Mulk%20as%20performed%20by%20T-Shizz-DoD.mp3"]}'>TShizz- Daddy Mulk</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/14-02-Beatemup/14-Katamari,%20Larceny-Batman%20Returns%20(SNES)-The%20Iceberg%20Lounge-DoD.mp3"]}'>Iceberg Lounge</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/11-12-M10NintendoVsSega/02-virt,Snappleman-ZeldaWW-Mast-DoD-N.mp3"]}'>Full Mast - snplmn</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-04-Fresh/01-Ivan%20Hakstok-Lego%20Island-Island%20Party-DoD.mp3"]}'>Island party - Homestuck</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/18-01-Brevity/02-Hat-Final%20Fantasy%20Tactics-Under%20The%20Stars-DoD.mp3"]}'>HAAAAAT</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/10-12-M9Free/09-norg-Mega%20Man%202-Inhabitants%20of%20the%20Dwelling-DoD.mp3"]}'>norg - Inhabitants of the dwelling</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/17-05-Europe/03-Katamari,%20Sagnewshreds,%20Trohnics-Magic%20Johnson%27s%20Fast%20Break-Edgar%20Enchantment%27s%20Quick-DoD.mp3"]}'>Edgar Enchantment's Quick Snap</div>

        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/12-04-Free/01-PrinceOfDarkness-Solstice-Kastle-DoD.mp3"], "artist":"Prince uf Darkness", "title":"Kastle Rock", "game":["Solstice"]}'>Pud - Kastle Rock</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-01-Collaboration/01-Robby%20V,%20finbeard,%20Snappleman,%20Tina,%20Maiko,%20Monte,%20Sagnewshreds-Ninja%20Warriors-Daddy%20Mulk%20as%20performed%20by%20T-Shizz-DoD.mp3"]}'>TShizz- Daddy Mulk</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/14-02-Beatemup/14-Katamari,%20Larceny-Batman%20Returns%20(SNES)-The%20Iceberg%20Lounge-DoD.mp3"]}'>Iceberg Lounge</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/11-12-M10NintendoVsSega/02-virt,Snappleman-ZeldaWW-Mast-DoD-N.mp3"]}'>Full Mast - snplmn</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/16-04-Fresh/01-Ivan%20Hakstok-Lego%20Island-Island%20Party-DoD.mp3"]}'>Island party - Homestuck</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/18-01-Brevity/02-Hat-Final%20Fantasy%20Tactics-Under%20The%20Stars-DoD.mp3"]}'>HAAAAAT</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/10-12-M9Free/09-norg-Mega%20Man%202-Inhabitants%20of%20the%20Dwelling-DoD.mp3"]}'>norg - Inhabitants of the dwelling</div>
        <div class="song" data-song='{"src":["http://dwellingofduels.net/dodarchive/17-05-Europe/03-Katamari,%20Sagnewshreds,%20Trohnics-Magic%20Johnson%27s%20Fast%20Break-Edgar%20Enchantment%27s%20Quick-DoD.mp3"]}'>Edgar Enchantment's Quick Snap</div>


      </div>

    </div>





  <script src="static\js\lib\howler.min.js"></script>
  <script src="static\js\lib\jQuery.js"></script>
  <script src="static\js\randomPlayer.js"></script>
  <script src="static\js\lib\jQuery.nanoscroller.min.js"></script>
  <script>
    $(".nano").nanoScroller();
    playerInit();
  </script>
</body>
</html>
