{% extends "base.html" %}

{% set include_winners = true %}
{% set include_sidebar = true %}

{% block title %}Rules{% endblock %}

{% block content %}

<h1>Rules for Participation</h1>

<div class="hline-r"></div>

<h2>Main Entries</h2>

<div class="hline-r"></div>

<p>
  Main entries are songs entered into the month's competition, which will be
  ranked on the results.
</p>

<ol>
  <li>
    Main entries must be a cover, arrangement, or other reworking of a song
    from a video game.

    <ul>
      <li>
        You can't cover songs that were used in video games but written for
        other media (e.g. the iconic Star Wars theme, or the original Micheal
        Jackson songs in Moonwalker).

        <ul>
          <li>
            Exception: Tetris, the soundtrack of which uses Russian folk
            music but is much more widely recognizable as video game music.
            Main entries may be reworkings of Tetris songs.
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>Each month has a theme; all songs must fit that theme.</li>

  <li>
    The main instrument of each song must be "played live", meaning that it
    must be a real guitar, real keyboard, real trombone, or other real
    instrument that you're actually playing.

    <ul>
      <li>
        An instrument that is sequenced in a software synthesizer is only
        eligible if a MIDI controller keyboard is played live, and the output
        is not quantized or altered.
      </li>
    </ul>
  </li>

  <li>
    Main entries must be submitted in mp3 format, at least two minutes in
    length.

    <ul>
      <li>
        Silence at the beginning or end of a track, or extended silence in
        the middle of a track, will not count toward reaching the length
        requirement.
      </li>
    </ul>
  </li>

  <li>
    Main entries will be presented anonymously at the end of the month
    (tagged as "Anonymous DoD Contestant"). Please don't compromise your
    anonymity, and only submit songs that you've never released to the public.
  </li>

  <li>
    All songs must either be submitted by the artist or by someone who has
    permission from the artist, with the following information included:

    <ul>
      <li>
        Artist(s): The name that the artist wishes to be identified by.
      </li>

      <li>Game(s): The games that the entry is covering songs from.</li>

      <li>
        Title: The title of the song.

        <ul>
          <li>
            Note: Anything in particularly bad taste (such as racial slurs)
            will be altered.
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>Optionally, you may also include the following information:
    <ul>
      <li>Text of the song's lyrics, if the song has them.</li>
      <li>Names of the songs from the game's soundtrack.</li>
      <li>
        Locations, stages, or scenarios in the game where the songs are used.
      </li>
      <li>
        Which instruments in the song were played live and which were
        programmed/sequenced.
      </li>
    </ul>
  </li>

  <li>
    Songs are due on the due date and time listed in the Current Contest link.
  </li>

  <li>
    You may not contribute to more than one main entry per month.
    ("Contribute" meaning play an instrument on the song, co-write the song, do
    a cameo guitar solo, etc.)
  </li>
</ol>

<h2>Alternate Entries</h2>

<div class="hline-r"></div>

<p>
  Alternate entries are songs released at the same time as main entries, but
  are not in competition.
</p>

<ol>
  <li>
    Alternate entries must be a cover, arrangement, or other reworking of a
    song from a video game.

    <ul>
      <li>
        Unlike main entries, alternate entries may be songs that were
        written for other media but used in video games.
      </li>
      <li>
        Exception: music and rhythm games like Rock Band, Dance Dance
        Revolution, or Guitar Hero. You may not use any of those songs.
      </li>
    </ul>
  </li>

  <li>Each month has a theme; all songs must fit that theme.</li>

  <li>
    The main instrument of each song must be "played live", meaning that it
    must be a real guitar, real keyboard, real trombone, or other real
    instrument that you're actually playing.

    <ul>
      <li>
        An instrument that is sequenced in a software synthesizer is only
        eligible if a MIDI controller keyboard is played live, and the output
        is not quantized or altered.
      </li>
    </ul>
  </li>

  <li>
    Alternate entries must be submitted in mp3 format, at least thirty seconds
    in length.

    <ul>
      <li>
        Silence at the beginning or end of a track, or extended silence in
        the middle of a track, will not count toward reaching the length
        requirement.
      </li>
    </ul>
  </li>

  <li>
    Alternate entries may be presented anonymously or with the artist name
    attached. If you do not express a preference, the song will be presented
    anonymously.

    <ul>
      <li>
        While they do not have to be anonymous, your alternate entries should
        still be previously unreleased.
      </li>
    </ul>
  </li>

  <li>
    All songs must either be submitted by the artist or by someone who has
    permission from the artist, with the following information included:

    <ul>
      <li>
        Artist(s): The name that the artist wishes to be identified by.
      </li>
    </ul>

    <ul>
      <li>Game(s): The games that the entry is covering songs from.</li>
      <li>
        Title: The title of the song.

        <ul>
          <li>
            Note: Anything in particularly bad taste (such as racial slurs
            or other hate speech) will be altered.
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>Optionally, you may also include the following information:
    <ul>
      <li>Text of the song's lyrics.</li>
      <li>Names of the songs from the game's soundtrack.</li>
      <li>Locations or scenarios in the game where the songs are used.</li>
      <li>
        Which instruments in the song were played live and which were
        programmed/sequenced.
      </li>
    </ul>
  </li>

  <li>
    Songs are due on the due date and time listed in the Current Contest link.
  </li>

  <li>
    You may submit as many alternate entries as you want, whether or not you're
    submitting any main entries.
  </li>

  <li>
    Any song meant to be humorous but not sound good should be submitted as an
    alternate entry.
  </li>

  <li>
    If a song is submitted as a main entry but only qualifies to be an
    alternate entry, it will be presented as an alternate entry.
  </li>
</ol>

<h2>Voting</h2>

<div class="hline-r"></div>

<p>The winner is determined by popular vote.</p>

<ol>
  <li>
    Voting is open for everyone.
  </li>

  <li>
    Voting is automated through <a href=
    "/voting/index.html">http://dwellingofduels.net/voting/index.html</a>.
    You simply score each song from good to bad using the sliders.

    <ul>
      <li>
        The app produces a vote based on the placement of the
        slider; for example, if you place the slider between "average" and
        "above average", it may say that you gave the song "Average +0.38." The
        combination of the word score and the numerical adjustment is how the
        votes are tallied and averaged to produce the results.
      </li>

      <li>
        If you entered a song, please check the box next to your entry
        labeled "My Song" when voting. If you do not, your votes will not
        count.
      </li>
    </ul>
  </li>

  <li>
    After having scoring each song, click "Proceed", copy the text resulting
    and mail it to <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>
  </li>

  <li>
    Votes are due by 9 PM Eastern US time on the last day of the
    month unless otherwise specified.
  </li>
</ol>

<h2>Contact Info for Submission, Voting, and All Other Concerns</h2>

<div class="hline-r"></div>

<p>To submit a song or vote:</p>

<ol>
  <li>
    Send an email to <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>

    <ul>
      <li>
        Songs may be included as an attachment or as a link in the body of the
        email. If you do not have a webhost, use a free service like Mediafire.
      </li>
    </ul>
  </li>

  <li>
    You may also send a Private Message to <strong>streifig</strong> on the
    <a href="/forum/" target="_blank">Dwelling of Duels forum</a> or the
    <a href=
    "http://theshizz.org/forum/index.php?/forum/8-minibosses-message-board/"
    title="message board at The Shizz">message board at The Shizz</a>.
  </li>
</ol>

<h2>Listening Parties</h2>

<div class="hline-r"></div>

<p>
  Listening parties take place on Arecibo Radio and use an IRC chatroom to
  allow artists and fans to listen to and discuss the songs in real time.
</p>

<ol>

  <li>
    All entries are played on air. You can listen to the broadcast on the on
    the <a href="http://areciboradio.com/" target="_blank">Arecibo Radio
    website</a> or download a playlist to use with a media player of your
    choice.
  </li>

  <li>
    You can join in by getting an IRC client and connecting to irc.esper.net
    and joining #areciboradio.

    <ul>
      <li>
        There will be a space in the IRC client to enter text:

        <ul>
          <li>
            /nick allows you to choose a username (for example "/nick
            UematsuFan" "/nick Abraham_L").
          </li>

          <li>
            /join allows you to join a channel ("/join #dwellingofduels").
          </li>

          <li>
            Enter plain text without a slash (like this sentence) to talk to
            people.
          </li>

          <li>
            Check your IRC client's help guide for more information.
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    Listening parties are held 24 hours after the release of the month's songs
    unless otherwise noted.
  </li>

  <li>
    The listening parties (and IRC in general) are pretty casual and often go
    off-topic, but anything disruptive (like "spamming", entering too much text
    too fast) might result in you being removed from the channel. Repeated
    offenses may result in you being barred from entry.
  </li>

  <li>
    The IRC channel is open to any sort of discussion, 24/7, even when the
    listening parties or other Arecibo Radio shows are not taking place.
  </li>
</ol>

<h2>General Disclaimer</h2>

<div class="hline-r"></div>

<p>Any activity which disrupts the contest, website, forums /
discussions, IRC channel, or any other aspect of Dwelling of Duels may result
in disqualification of your entry, rejection of future entries, rejection of
votes, or other measures. This includes compromising someone else's anonymity
by revealing that they created an entry when this information is not
available publicly.</p>

{% endblock %}
