{% extends "base.html" %}

{% set include_winners = true %}
{% set include_sidebar = true %}

{% block title %}Rules{% endblock %}

{% block content %}

<h1>Rules for Participation</h1>

<div class="hline-r"></div>

<h2 id='main-entries'>Main Entries</h2>

<div class="hline-r"></div>

<p>
  Main entries are songs entered into the month's competition, which will be
  ranked at the end of the competition based on the voting results.
</p>

<ol>
  <li>
    Main entries must be a cover, arrangement, or other reworking of one or
    more songs from any video game(s).

    <ul>
      <li>
        Unless specified in a particular month's conditions, you can't cover
        songs that were used in video games but written for other media (e.g.
        the iconic Star Wars theme, or the original Michael Jackson songs in
        Moonwalker).

        <ul>
          <li>
            Exception: Tetris, who's soundtrack uses Russian folk
            music, is much more widely recognizable as video game music.
            Main entries may be reworkings of Tetris songs.
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>Each month has a theme; all songs must fit that theme.</li>

  <li>
    The main instrument of each song must be "played live", meaning that it
    must be a real guitar, real keyboard, real trombone, or other real
    instrument that you're actually playing.

    <ul>
      <li>
        Multiple takes that are edited together into an entry are allowed, as
        long as the edits do not drastically alter the recorded performance.
      </li>
      <li>
        An instrument that is sequenced in a software synthesizer is only
        eligible if a MIDI controller keyboard is played live, and the output
        is not quantized or altered, in agreement with the bullet point above.
      </li>
    </ul>
  </li>

  <li>
    Main entries must be submitted in mp3 format, and have a duration of at 
    least two minutes in length.

    <ul>
      <li>
        Silence at the beginning or end of a track, or extended silence in
        the middle of a track, will not count toward reaching the length
        requirement.
      </li>
    </ul>
  </li>

  <li>
    Main entries will be presented anonymously at the end of the month and
    tagged as "Anonymous DoD Contestant". Please do not compromise your
    anonymity in any way, and only submit songs that you've never released 
    to the public.
  </li>

  <li>
    All songs must either be submitted by the artist or by someone who has
    permission from the artist. Please include the following information with 
    your submission:

    <ul>
      <li>
        Artist(s): The name that the artist wishes to be identified by.
      </li>

      <li>Game(s): The games that the entry is covering songs from.</li>

      <li>
        Title: The title of the arrangement.

        <ul>
          <li>
            Note: Anything in particularly bad taste (such as racial slurs)
            will be altered.
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>Optionally, you may also include the following information:
    <ul>
      <li>Text of the song's lyrics, if the song has them.</li>
      <li>Names of the songs from the game's soundtrack.</li>
      <li>
        Locations, stages, or scenarios in the game where the songs are used.
      </li>
      <li>
        Which instruments in the song were played live and which were
        programmed/sequenced.
      </li>
    </ul>
  </li>

  <li>
    Songs are due on the due date and time listed on the Main Page in the
    "Submission Deadline" section.
  </li>

  <li>
    You may not be the primary arranger and performer on more than one main
    entry per month.

    <ul>
      <li>
        You may, however, contribute to one main entry by other person, in
        addition to your own song. ("Contribute" meaning play an instrument on
        someone else's song, mix it, do a cameo solo, etc.)
      </li>
    </ul>
  </li>
</ol>

<h2>Alternate Entries</h2>

<div class="hline-r"></div>

<p>
  Alternate entries are released at the same time as main entries, but
  are not included in the competition entries, voting, or results. Alternate 
  entries are subject to the same rules as <a href='#main-entries'>Main Entries</a>, with the following alterations:
</p>

<ol>
  
  <li>
    Unlike main entries, alternate entries may be songs that were
    written for other media but used in video games.
  </li>

  <ul>
    <li>
      Exceptions:
    </li>
    <li>
      Licensed soundtracks for music and rhythm games such as Rock Band, Dance Dance
      Revolution, Guitar Hero, etc.
    </li>
    <li>
      Licensed soundtracks for games such as Tony Hawk's Pro Skater, Need For Speed, 
      Madden '19, etc.
    </li>
    <li>
      You may not use any of the above songs.
    </li>
  </ul>

  <li>
    Alternate entries have a minimum duration of thirty seconds in length.
  </li>

  <li>
    Alternate entries may be presented anonymously or with the artist name
    attached. If you do not express a preference, the song will be presented
    anonymously.

    <ul>
      <li>
        While they do not have to be anonymous, your alternate entries should
        still be previously unreleased.
      </li>
    </ul>
  </li>

  <li>
    You may submit as many alternate entries as you want, whether or not you're
    submitting any main entries.
  </li>

  <li>
    If a song is submitted as a main entry but only qualifies to be an
    alternate entry, it will be presented as an alternate entry.
  </li>
</ol>

<h2>Voting</h2>

<div class="hline-r"></div>

<p>The winner is determined by the highest score calculated from the submitted votes.</p>

<ol>
  <li>
    Voting is open to everyone.
  </li>

  <li>
    Voting is automated through

    {% if voting %}
      <a href="/voting/">our voting app</a>.
    {% else %}
      our voting app, which is accessible when the current duel's entries are presented.
    {% endif %}

    Simply score each song from "Incredible" to "Terrible" using the sliders.

    <ul>
      <li>
        The app produces a vote based on the placement of the
        slider; for example, if you place the slider between "Average" and
        "Above Average", it may say that you gave the song "Average +0.38." The
        combination of the word score and the numerical adjustment is how the
        votes are tallied and averaged to produce the results.
      </li>

      <li>
        If you submitted a song as a main entry, please check the box labeled 
        "My Song" next to your entry when voting. Failure to follow this rule
        may result in rejection of your votes from the final results.
      </li>
    </ul>
  </li>

  <li>
    After scoring each song, copy the text in the text field below the voting app
    and mail it to <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>
  </li>

  <li>
    Votes are due by the time listed on the Voting Deadline section of the main page.
  </li>
</ol>

<h2>Contact Info for Submission, Voting, and All Other Concerns</h2>

<div class="hline-r"></div>

<p>To submit a song or vote:</p>

<ol>
  <li>
    Send an email to <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>

    <ul>
      <li>
        Songs may be included as an attachment or as a link in the body of the
        email. If you do not have a webhost, please use a free service such as 
        Google Drive, Dropbox, etc.
      </li>
    </ul>
  </li>

</ol>

<h2>Listening Parties</h2>

<div class="hline-r"></div>

<p>
  Listening parties take place on our 
  <a href="https://www.twitch.tv/dwellingofduels" title="Twitch">Twitch channel</a>
  allowing artists and fans to listen and discuss the songs in real time.
</p>

<ol>

  <li>
    All entries are played live on stream.
  </li>

  <li>
    Listening parties start with the release of the month's songs
    unless otherwise noted.
  </li>

  <li>
    The listening parties are generally casual and often go
    off-topic, but anything disruptive (like "spamming", entering too much text
    too fast) might result in you being removed from the stream chat. Repeated
    offences may result in you being barred from entry.
  </li>

  <li>
    For continued discussion of Dwelling of Duels when listening parties are
    not taking place, please join our <a href="https://discord.gg/RqRAMFY" title="Discord">Discord server</a>.
  </li>
</ol>

<h2>General Disclaimer</h2>

<div class="hline-r"></div>

<p>Any activity which disrupts the contest, website, forums /
discussions, IRC channel, or any other aspect of Dwelling of Duels may result
in disqualification of your entry, rejection of future entries, rejection of
votes, or other measures. This includes, but is not limited to, the following:
	<ul>
		<li>Compromising someone elses anonymity
		by revealing that they created an entry when this information is not
		available publicly.</li>
		<li>"Ballot Stuffing" by asking another person or using multiple email addresses to vote unfairly in your favor.</li>
	</ul>
</p>

{% endblock %}
