<h4>About DoD</h4>

<div class="hline-r"></div>

<p>
  Dwelling of Duels is a monthly VGM cover competition. Competitors
  submit redone versions of game music and the entries are voted upon
  by the community. Entries must comply with the <a href="/rules/">rules</a>,
  briefly put as following:
</p>

<ul>
  <li>The song must follow the current month's theme</li>
  <li>The song must be previously unreleased</li>
  <li>The song must not be shorter than 2 minutes</li>
  <li>The main instrument must by played live</li>
</ul>

<p>
  Email submissions and votes to
  <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>
</p>

<br />

{% set deadline_date_str = deadline_date.strftime('%B %d').replace(' 0', ' ') %}

{% if voting %}
  <h4>Voting Deadline</h4>

  <div class="hline-r"></div>

  <p>
    Votes for the current duel must be received by
    <strong>{{ deadline_date_str }} at {{ deadline_time }}</strong>.
  </p>

  <p>
    <a href="/duels/{{ latest_duel|slugify }}/">
      Listen and vote now!
    </a>
  </p>
{% else %}
  <h4>Submission Deadline</h4>

  <div class="hline-r"></div>

  <p>
    Songs for the current duel must be received by
    <strong>{{ deadline_date_str }} at {{ deadline_time }}</strong>.
  <p>
{% endif %}

<br />

<h4>Stats</h4>

<div class="hline-r"></div>

<ul>
  <li>{{ stats.artists }} Artists</li>
  <li>{{ stats.duels }} Duels</li>
  <li>{{ stats.games }} Games</li>
  <li>{{ stats.songs }} Songs</li>
  <li>{{ stats.hours|int }}+ Hours of Music</li>
  <li>{{ stats.years|int }} Years</li>
</ul>
