<h4>About DoD</h4>

<div class="hline-r"></div>

<p>
  Dwelling of Duels is a monthly VGM covers competition. Competitors
  submit redone versions of game music and the entries are voted upon
  by the community. Entries must comply with these rules:
</p>

<ul>
  <li>The song must follow the current month's theme</li>
  <li>The song must be previously unreleased</li>
  <li>The song must not be shorter than 2 minutes</li>
  <li>The main instrument must by played live</li>
</ul>

<p>
  Email submissions and votes to
  <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>
</p>

<br />

<h4>Recent Duels</h4>

<div class="hline-r"></div>

<ul>
  <li>June 2015 - Jazz Month</li>
  <li>May 2015 - Free Month</li>
  <li>April 2015 - Battletoads Month</li>
  <li>March 2015 - SNK Month</li>
  <li>February 2015 - Brevity Month</li>
  <li>MAGFest 13 - Dance Party</li>
</ul>

<br />

<h4>Stats</h4>

<div class="hline-r"></div>

<ul>
  <li>100 Artists</li>
  <li>144 Duels</li>
  <li>200 Games</li>
  <li>800 Songs</li>
  <li>22 Hours of Music</li>
  <li>13 Years</li>
</ul>
