<h4>About DoD</h4>

<div class="hline-r"></div>

<p>
  Dwelling of Duels is a monthly VGM covers competition. Competitors
  submit redone versions of game music and the entries are voted upon
  by the community. Entries must comply with these rules:
</p>

<ul>
  <li>The song must follow the current month's theme</li>
  <li>The song must be previously unreleased</li>
  <li>The song must not be shorter than 2 minutes</li>
  <li>The main instrument must by played live</li>
</ul>

<p>
  Email submissions and votes to
  <a href="mailto:dodsongs@gmail.com">dodsongs@gmail.com</a>
</p>

<br />

<h4>Social</h4>

<div class="hline-r"></div>

<ul>
  <li>
    <a href="https://www.facebook.com/dwellingofduels/">Facebook</a>
  </li>
  <li>
    <a href="https://twitter.com/dwellingofduels">Twitter</a>
  </li>
  <li>
    <a href="https://www.youtube.com/user/DwellingDuels">YouTube</a>
  </li>
</ul>

<br />

<h4>Stats</h4>

<div class="hline-r"></div>

<ul>
  <li>{{ stats.artists }} Artists</li>
  <li>{{ stats.duels }} Duels</li>
  <li>{{ stats.games }} Games</li>
  <li>{{ stats.songs }} Songs</li>
  <li>{{ stats.hours|int }}+ Hours of Music</li>
  <li>{{ stats.years|int }} Years</li>
</ul>
