{% from "macros.html" import prettify_duel %}
{% from "macros.html" import trophy_string %}
{% from "macros.html" import get_song_link %}
{% from "macros.html" import get_artist_link %}
{% from "macros.html" import get_game_link %}

{% macro render(songs) -%}
<div id="twrap">
  <div class="container centered">
    <div class="row">
      <div class="col-md-3 winners-banner-month">
        <h2>
          <a href="/duels/{{ songs[0].duel|slugify }}/">
            {{ songs[0].month_name }} {{ songs[0].year }}
          </a>
        </h2>
        <h4>
          <a href="/duels/{{ songs[0].duel|slugify }}/">
            {{ songs[0].theme }} Month
          </a>
        </h4>
      </div>
      {% for song in songs[:3] %}
        <div class="col-md-3">
          <img src="/static/img/{{ trophy_string(song) }}.png"/>
          <div class="winners-banner-winner">
            <div>
              <strong>{{ get_artist_link(song, ', ') }}</strong>
            </div>
            <div>
              "{{ get_song_link(song) }}"
            </div>
            <div>
              {{ get_game_link(song, ', ') }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<br />
{%- endmacro %}
