{% from "macros.html" import prettify_duel %}
{% from "macros.html" import trophy_string %}
{% from "macros.html" import get_song_link %}
{% from "macros.html" import get_artist_link %}
{% from "macros.html" import get_game_link %}

{% macro render(songs) -%}
<div id="twrap">
  <div class="container centered">
    <div class="row">
      <div class="col-md-12">
        <h1><a href="/duels/{{ songs[0].duel|slugify }}/">{{ prettify_duel(songs[0]) }}</a></h1>
        <br />
      </div>
    </div>
    <div class="row">
    {% if voting and songs[0].month_dir == latest_month %}
      {% for trophy in ["gold", "silver", "bronze"] %}
        <div class="col-md-4">
          <img src="/static/img/{{ trophy }}.png"/>
          <h4>???</h4>
          <p>
            <em>???</em>
            <br/>
            ???
          </p>
        </div>
      {% endfor %}
    {% else %}
      {% for song in songs[:3] %}
        <div class="col-md-4">
          <img src="/static/img/{{ trophy_string(song) }}.png"/>
          <h4>{{ get_artist_link(song, ', ') }}</h4>
          <p>
            <em>{{ get_song_link(song) }}</em>
            <br/>
            {{ get_game_link(song, ', ') }}
          </p>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
</div>

<br />
{%- endmacro %}
